# App-generated stuff
.bundle
.sass-cache/
config/database.yml
db/*.sqlite3
log/
tmp/
solr/data/
solr/pids/
logfile

# Doc generated stuff
.yardoc
doc/app/
doc/apipie_examples.yml
doc/apidoc*

# Test generated stuff
coverage/
rails_best_practices_output.html
spec/reports/

# Vagrant stuff
.vagrant
Vagrantfile

# OS stuff
.DS_Store
.env
.envrc

# IDE stuff
.idea/*
atlassian-ide-plugin.xml
.project
