%footer
  .light-bg
    .container
      .row-fluid
        .span3
          %h4 Get in touch
          .info-block
            %article.clearfix
              %i.icon-globe
              %address
                141 South Fraser St.
                %br/
                State College, Pennsylvania
                %br/
                16801
            %article.clearfix
              %i.icon-phone
              %p 814.689.3103
            %article.clearfix
              %i.icon-envelope
              %p
                %a{href: "mailto:contact@themakespace.com"} contact@themakespace.com
        .span3
          %h4 Follow us
          .social
            %ul.unstyled.clearfix
              %li
                %a{href: "//twitter.com/TheMakeSpaceSC", target: "_blank", title: ""}
                  %i.icon-twitter
              %li
                %a{href: "//www.facebook.com/the.make.space", target: "_blank", title: ""}
                  %i.icon-facebook
              -# %li
              -#   %a{href: "#", target: "_blank", title: ""}
              -#     %i.icon-github
              -# %li
              -#   %a{href: "#", target: "_blank", title: ""}
              -#     %i.icon-linkedin
              -# %li
              -#   %a{href: "#", target: "_blank", title: ""}
              -#     %i.icon-pinterest
              %li
                %a{href: "//plus.google.com/116879917434169348901/about?gl=US&hl=en-US", target: "_blank", title: ""}
                  %i.icon-google-plus
              %li
                %a{href: "//hackerspaces.org/wiki/The_Make_Space", target: "_blank", title: "Our location on hackerspaces.org"}
                  %i.icon-gear
              -# %li
              -#   %a{href: "#", target: "_blank", title: ""}
              -#     %i.icon-rss
        .span3
          %h4 Notable events
          %ul.link-list
            %li
              %a{href: "#"} Dynamically created list of events coming soonish!
        .span3
          %h4 Photostream
          %p We&rsquo;re trying to remember to take pictures more frequently. We'll have stuff here at some point&hellip;
          -# %ul.footer-thumbnails.unstyled.clearfix
          -#   %li.stream
          -#     %a{href: "#"}
          -#       %img{alt: "", src: "http://dummyimage.com/45x45/243135/fff"}/
          -#   %li.stream
          -#     %a{href: "#"}
          -#       %img{alt: "", src: "http://dummyimage.com/45x45/243135/fff"}/
          -#   %li.stream
          -#     %a{href: "#"}
          -#       %img{alt: "", src: "http://dummyimage.com/45x45/243135/fff"}/
          -#   %li.stream
          -#     %a{href: "#"}
          -#       %img{alt: "", src: "http://dummyimage.com/45x45/243135/fff"}/
          -#   %li.stream
          -#     %a{href: "#"}
          -#       %img{alt: "", src: "http://dummyimage.com/45x45/243135/fff"}/
          -#   %li.stream
          -#     %a{href: "#"}
          -#       %img{alt: "", src: "http://dummyimage.com/45x45/243135/fff"}/
          -#   %li.stream
          -#     %a{href: "#"}
          -#       %img{alt: "", src: "http://dummyimage.com/45x45/243135/fff"}/
          -#   %li.stream
          -#     %a{href: "#"}
          -#       %img{alt: "", src: "http://dummyimage.com/45x45/243135/fff"}/
  .copyright-block.dark-bg.clearfix
    .container
      .row
        .span1
          %a{href: "//creativecommons.org/licenses/by-sa/4.0/", rel: "license"}
            %img{alt: "Creative Commons License", src: "//i.creativecommons.org/l/by-sa/4.0/88x31.png", style: "border-width:0"}/
        .span8
          %p.pull-left
            This work is licensed under a
            %a{href: "//creativecommons.org/licenses/by-sa/4.0/", rel: "license"} Creative Commons Attribution-ShareAlike 4.0 International License.
            Except where we stole content without permission. Which we might have done by accident. Copyright is tricky. ;p


        .span3
          .pull-right
            %a{href: "//www.cloud66.com"}
              %img{src: "//d563vzkt1q0lu.cloudfront.net/images/powered-by-cloud66.png", title: "Powered by Cloud 66"}


